:root{
    --mau:#e26e70;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    background-image: linear-gradient(to right, #b6e2c0,#56e2d4);
}

.open_modal_btn{
    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.modal{
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgb(0, 0, 0, 0.6);
}

.modal_inner{
    width: 400px;
    position: relative;
    top: 50%;
    margin: auto;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    animation: modalshow 0.2s linear;
}

.modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--mau);
    color: white;
}

.modal_body{
    padding: 15px;
}

.modal_body h2{
    color: var(--mau);
    margin-bottom: 10px;
}

.modal_footer{
    padding: 15px;
    text-align: right;
}

.modal_footer button{
    padding: 10px 20px;
    color: white;
    background: var(--mau);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.hide{
    display: none;
}

@keyframes modalshow {
    from{
        top: -200px;
        opacity: 0;
    }

    to{
        top: 50%;
        opacity: 1;
    }
}